<!--<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>-->
<!-- section start -->
<section class="login-page section-b-space">
    <div   class="container">
        <div  class="row">
            <div  class="col mx-auto" style="max-width: 600px;" >
                <h3>Login</h3>
                <div class="theme-card">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                            <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required" class="text text-danger">
                                Email Address is required
                            </div>
                            <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email" class="text text-danger">
                                Invalid Email Address
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" formControlName="password">
                            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required" class="text text-danger">
                                Password is required
                            </div>
                        </div>

                        <div class="form-group">
                            <re-captcha (resolved)="resolved($event)" siteKey="6LdBMvkZAAAAAHvvSY40x6YyBkV-tKvdE6zQTgXz"></re-captcha>
                            <div *ngIf="captchaError" class="error required">Recaptcha not verified.</div>
                        </div>

                        <div class="row">
                            <div class="col-12 mb-2">
                                <button class="btn btn-solid btn-block" type="submit">Login</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline btn-sm" type="button" [routerLink]="['/auth/forgotpassword']">Forgot Password</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline btn-sm pull-right" type="button" [routerLink]="['/auth/register']">SignUP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--    6LdBMvkZAAAAAHvvSY40x6YyBkV-tKvdE6zQTgXz-->
<!--    6LdBMvkZAAAAAE5wTFkgfo1wVRXR__nJfP4BEN7C-->

</section>
<!--Section ends-->
