@font-face {
	font-family: 'avenir';
	src:url('./../fonts/AvenirLTStd-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir';
	src:url('./../fonts/AvenirLTStd-Heavy.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'avenir';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
