<div class="media">
    <a [routerLink]="['/shop/product/left/sidebar/', product.name]">
        <img [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'" 
             [lazyLoad]="ImageSrc ? ImageSrc : product.bundles[0].imagePath"  
             class="img-fluid lazy-loading" alt="{{ product.bundles[0].imagePath }}">
    </a>
	<div class="media-body align-self-center">
		<div class="rating">
			<bar-rating [rate]="5" [readOnly]="true"></bar-rating>
		</div>
        <a [routerLink]="['/shop/product/left/sidebar/', product.name]">
            <h6>{{ product.name | titlecase }}</h6>
        </a>
		<h4>{{ product.bundles[0].price * currency?.price | discount:product.bundles[0] | currency:currency?.currency:'symbol' }}</h4>
        <!-- <ul class="color-variant">
            <li [class]="color" 
                *ngFor="let color of Color(product?.variants)" 
                [ngStyle]="{'background-color': color}"
                (click)="ChangeVariants(color, product)">
            </li>
        </ul> -->
	</div>
</div>