<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto" style="max-width: 600px;">
        <h3>create account</h3>
        <div class="theme-card">
          <form
            class="theme-form"
            #registerform="ngForm"
            (ngSubmit)="onSubmit(registerform)"
          >
            <div class="form-group">
              <!-- <label for="fullname">Full Name</label> -->
              <input
                type="text"
                name="fullname"
                class="form-control"
                id="fullname"
                placeholder="Full Name"
                required
                ngModel
              />
            </div>
            <div class="form-group">
              <!-- <label for="telephone">Telephone Number</label> -->
              <input
                type="text"
                name="telephone"
                class="form-control"
                id="telephone"
                placeholder="Telephone Number"
                ngModel
              />
            </div>
            <div class="form-group">
              <!-- <label for="email">Email</label> -->
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
                ngModel
              />
            </div>
            <div class="form-group">
              <!-- <label for="password">Password</label> -->
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
                ngModel
              />
            </div>
            <div class="form-group">
              <!-- <label for="repeat-password">Password</label> -->
              <input
                type="password"
                class="form-control"
                id="repeatpassword"
                name="repeatpassword"
                placeholder="Repeat your password"
                required
                ngModel
              />
            </div>

            <div class="form-group">
              <!-- <label for="address">Address</label> -->
              <textarea
                class="form-control"
                id="address"
                name="address"
                placeholder="Please Enter Address"
                ngModel
              ></textarea>
            </div>

           
              <button
                class="btn btn-solid"
                type="submit"
                [disabled]="!registerform.valid"
              >
                Create Account
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
