<div class="row">
  <div class="col-md-2 col-12 col-sm-12 text-center">
    <a title="Quick View" (click)="QuickView.openModal(bundle.id)" style="cursor: pointer">
      <img [src]="bundle.imagePath" [alt]="bundle.imagePath" width="50px" class="img-responsive" />
    </a>
  </div>

  <div class="col-12 col-sm-12 text-center text-md-left col-md-5">
    <h4 class="product-name">
      <strong> {{ product.name | titlecase }}</strong>
    </h4>
    <div class="row">
      <div class="col-4">
        <h4>
          <small class="text-muted">Price :
            {{ bundle.subTotalPrice | currency: "₦":"symbol":"1.0-0" }}</small>
        </h4>
      </div>
      <div class="col-4">
        <h4>
          <small class="text-muted">VAT :
            {{ bundle.VATPrice | currency: "₦":"symbol":"1.0-0" }}</small>
        </h4>
      </div>
      <div class="col-4">
        <h4>
          <small class="text-muted">SubTotal :
            {{ bundle.subTotalVatPrice | currency: "₦":"symbol":"1.0-0" }}</small>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-5 row" style="width: 100%;">
    <div class="col-5 col-sm-5 col-md-5 text-right m-0 pt-2">
      <h6>
        <strong>
          {{ bundle.variantOptions[0].variantOption }}
          <span class="text-muted"> &nbsp;x</span></strong>
      </h6>
    </div>

    <div class="col-6 col-sm-6 col-md-6 m-0 p-0">
      <div class="qty-box">
        <div class="input-group">
          <span class="input-group-prepend">
            <button type="button" class="btn quantity-left-minus" data-type="minus"
              (click)="decrement(product.productId, bundle.id)">
              <i class="ti-angle-left"></i>
            </button>
          </span>
          <input type="text" name="quantity" class="form-control input-number" size="4" disabled
            [(ngModel)]="bundle.quantity" style="width: 50px" />
          <span class="input-group-prepend">
            <button type="button" class="btn quantity-right-plus" data-type="plus"
              (click)="increment(product.productId, bundle.id)">
              <i class="ti-angle-right"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-1 col-sm-1 col-md-1 text-right m-0 p-0 pt-2">
      <a (click)="removeItem(product.productId, bundle.id)" class="btn btn-danger btn-xs" style="color: white">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </div>

    
  </div>
</div>
<hr/>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
