<!--<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>-->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar" (click)="ToggleDashboard()">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left" [class.open]="openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li class="active"><a (click)="onAccountInfo()"  [style.cursor]="'pointer'">Account Info</a></li>
                            <li><a (click)="onAddress()"  [style.cursor]="'pointer'">Address Book</a></li>
                            <li><a (click)="onMyOrders()" [style.cursor]="'pointer'">My Orders</a></li>
                            <li><a (click)="onMyWishList()" [style.cursor]="'pointer'">My Wishlist</a></li>
                            <li><a (click)="onMyProfile()" [style.cursor]="'pointer'">My Profile</a></li>
                            <li><a (click)="onChangePassword()"  [style.cursor]="'pointer'">Change Password</a></li>
                            <li class="last"><a (click)="onLogout()" [style.cursor]="'pointer'">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <ng-container *ngIf="openAccountInfo">
                            <h2 class="text-center">My Statistics</h2>
                            <app-statistics></app-statistics>
                        </ng-container>
                        <ng-container *ngIf="openAddress">
                            <h2 class="text-center">Addresses</h2>
                           <app-address></app-address>
                        </ng-container>
                        <ng-container *ngIf="openOrders">
                            <h2 class="text-center">Order History</h2>
                            <app-order></app-order>
                        </ng-container>
                        <ng-container *ngIf="openWishlist">
                            <h2 class="text-center">WishList</h2>
                            <app-wishlist></app-wishlist>
                        </ng-container>
                        <ng-container *ngIf="openProfile">
                            <h2 class="text-center">My Profile</h2>
                            <app-profile></app-profile>
                        </ng-container>
                        <ng-container *ngIf="openChangePassword">
                            <h2 class="text-center">Change My Password</h2>
                           <app-change-password></app-change-password>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
