<!--<app-breadcrumb [title]="product.name" [breadcrumb]="'Product'"></app-breadcrumb>-->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-nav product-slick">
                <img [defaultImage]="'assets/images/products/placeholder.jpg'"
                  [lazyLoad]="product.bundles[0].imagePath[0]" [alt]="product.bundles[0].imagePath[0]" class="img-fluid"
                  [src]="product.bundles[0].imagePath[0]" />
              </div>
            </div>
          </div>
        </div>
        <!-- rtl-text -->
        <div class="col-lg-6 rtl-text product-right">
          <!-- <div class="product-right" style="border: 1px solid orange;"> -->
            <h2>{{ product.name }}</h2>

            <h3 name="price-discount" id="price-discount">
              {{ discountedPrice | currency: "₦":"symbol":"1.0-0" }}
              <del *ngIf="bundle.discount"><span id="price-full" class="money">
                  {{ price | currency: "₦":"symbol":"1.0-0" }}</span></del>
            </h3>

            <app-stock-inventory [stock]="product.bundles[0].stock"></app-stock-inventory>

            <div class="product-description border-product">
              <!-- <h5 class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></h5>
                        <h5 class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span></h5> -->
              <h6 class="product-title">quantity</h6>
              <div class="qty-box">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement()">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
<!--                      <i class="ti-angle-left"></i>-->
                    </button>
                  </span>
                  <input type="text" name="quantity" class="form-control input-number" [value]="counter" disabled />
                  <span class="input-group-prepend">
                    <button type="button" class="btn quantity-right-plus" data-type="plus" (click)="increment()">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
<!--                      <i class="ti-angle-right"></i>-->
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="product-buttons">
              <a href="javascrip:void(0)" class="btn btn-solid" (click)="addToCart()">add to cart</a>
              <a href="javascrip:void(0)" class="btn btn-solid" (click)="buyNow(product)">buy now</a>

              <!-- <a href="javascrip:void(0)" class="btn btn-solid" [class.disabled]="counter > product.stock" (click)="addToCart(product)">add to cart</a>
                        <a href="javascrip:void(0)" class="btn btn-solid" [class.disabled]="counter > product.stock" (click)="buyNow(product)">buy now</a> -->
            </div>
            <div class="border-product">
              <h6 class="product-title">product details</h6>
              <p>{{ product.bundles[0].description }}</p>
            </div>
            <div class="border-product">
              <h6 class="product-title">share it</h6>
              <div class="product-icon">
                <app-social></app-social>
                <form class="d-inline-block">
                  <button class="wishlist-btn" (click)="addToWishlist(product)">
                    <i class="fa fa-heart"></i>
                    <span class="title-font">Add To WishList</span>
                  </button>
                </form>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
      <section class="tab-product m-0">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <ngb-tabset [type]="'tabs'" class="nav-material">
              <ngb-tab>
                <ng-template ngbTabTitle>Description</ng-template>
                <ng-template ngbTabContent>
                  <p>{{ product.bundles[0].description }}</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Reviews</ng-template>

                <ng-template ngbTabContent>
                  <a *ngIf="!showAddPost" (click)="addPost()" class="btn btn-xs btn-solid mt-2">Add Post</a>
                  <div class="container" *ngIf="showAddPost">
                    <form class="theme-form" #postform="ngForm" (ngSubmit)="onSubmit(postform)">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title"
                            required ngModel />
                        </div>
                        <div class="col-md-12">
                          <label for="post">Post</label>
                          <textarea class="form-control" placeholder="Please Write Your Post" id="post" name="post"
                            rows="6" required ngModel></textarea>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-xs btn-solid" type="submit">
                            Save Post
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <!-- Start -->
                  <section class="section-b-space blog-page pt-0">
                    <hr />
                    <div class="container">
                      <div *ngFor="let post of posts$ | async" class="row blog-media">
                        <app-post [post]="post"></app-post>
                      </div>
                    </div>
                  </section>
                  <!-- END -->
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </section>
    </div>
  </div>
<!--   <app-related-product [type]="product?.type"></app-related-product> -->
</section>
<!-- Section ends -->
