<div class="product-top-filter">
    <div class="row">
        <div class="col-12">
            <div class="product-filter-content">
                <div class="collection-view" style="border-right: 1px solid lightgray">
                    <ul>
                        <li (click)="setLayoutView('grid-view')">
                            <i class="fa fa-th grid-layout-view"></i>
                        </li>
                        <li (click)="setLayoutView('list-view')">
                            <i class="fa fa-list-ul list-layout-view"></i>
                        </li>
                    </ul>
                </div>

                <div class="product-page-filter pr-2">
                    <select (change)="paging($event)">
                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;Page Size</option>
                        <option value="20"  [selected]="pageSize == 20">&nbsp;&nbsp;&nbsp;&nbsp;20</option>
                        <option value="40"  [selected]="pageSize == 40">&nbsp;&nbsp;&nbsp;&nbsp;40</option>
                        <option value="60"  [selected]="pageSize == 60">&nbsp;&nbsp;&nbsp;&nbsp;60</option>
                    </select>
                </div>

                <div class="product-page-filter">
                    <select (change)="sorting($event)">
                        <option value="">&nbsp;&nbsp;&nbsp;&nbsp;Sorting Items</option>
                        <option value="a-z"  [selected]="sortBy == 'a-z'">&nbsp;&nbsp;&nbsp;Alphabetically A-Z</option>
                        <option value="z-a"  [selected]="sortBy == 'z-a'">&nbsp;&nbsp;&nbsp;Alphabetically Z-A</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
