<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto" style="max-width: 600px;">
                <h3>forgot password</h3>
                <div class="theme-card">
                    <ng-container *ngIf="user else notoken">
                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                       formControlName="password" placeholder="Enter Password (Required)"/>
                                <div *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.required" class="text text-danger">
                                    Password is required
                                </div>
                                <div *ngIf="resetForm.controls.password.touched && resetForm.controls.password.errors?.minlength" class="text text-danger">
                                    Password should be a minimum of 6 characters
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="repeatpassword" name="repeatpassword"
                                       formControlName="repeatpassword" placeholder="Reconfirm Password (Required)"/>
                                <div *ngIf="resetForm.controls.repeatpassword.touched && resetForm.controls.repeatpassword.errors?.required" class="text text-danger">
                                    Password Re-Conformation is required
                                </div>
                                <div *ngIf="resetForm.controls.repeatpassword.touched && resetForm.controls.repeatpassword.errors?.minlength" class="text text-danger">
                                    Password should be a minimum of 6 characters
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-solid" type="submit">
                            Submit
                        </button>
                    </form>
                    </ng-container>
                    <ng-template #notoken>
                        <h3>Invalid Password Reset Token</h3>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
