<app-header [themeLogo]="themeLogo"></app-header>

<!--<button class="btn btn-warning" (click)="OnClick()">Test</button>-->

<section class="p-0 ratio2_1 mt-4">
  <div class="title1">
    <h2 class="title-inner1">product categories</h2>
  </div>

  <div class="container-fluid">
    <div class="row category-border">
      <ng-container *ngFor="let category of categoryService.categories$ | async">
      <div class="col-sm-4 border-padding mb-2">
        <div class="category-banner" style="border: 5px solid #a3d7e7;">
          <div class="bg-size blur-up lazyloaded" [ngStyle] = "{'background-image': 'url(' + category.image_url + ')', 'background-size': 'cover', 'background-position': 'center center', 'display': 'block', 'max-height': '200px'}">
            <img [src]="category.image_url" class="img-fluid blur-up lazyload bg-img" alt="" style="display: block;">
          </div>
          <div class="category-box d-flex flex-column justify-content-start mt-2">
            <a [routerLink]="['/shop/collection']" [queryParams]="{ category: category.name }" class="image-block">
              <h4 style="background-color: #a3d7e7; color: black;">{{category.name}}</h4>
            </a>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</section>


<!-- About section start -->
<section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12 offset-xl-1 text-center">
        <img src="assets/images/delifrost-brands.png" alt="" class="img-fluid" />
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="about-section">
          <div>
            <h2>about us</h2>
            <div class="about-text">
              <p>
                DÉLIFROST is a dynamic company that has established itself as
                one of the leading FMCG distribution companies in Nigeria in
                just about ten years.
              </p>
              <p>
                with a comprehensive portfolio of top international
                chilled/frozen FMCG food brands dedicated to the modern trade
                and the food service segment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About section  end -->

<app-newsletter></app-newsletter>
<app-footer [themeLogo]="themeLogo" [mainFooter]="false"></app-footer>
