<app-header [themeLogo]="themeLogo"></app-header>

<!--<button class="btn btn-warning" (click)="OnClick()">Test</button>-->

<section class="p-0 ratio2_1 mt-4">
  <div class="title1">
    <h2 class="title-inner1">product categories</h2>
  </div>

  <div class="container-fluid">
    <div class="row category-border">
      <ng-container *ngFor="let category of categoryService.categories$ | async">
      <div class="col-sm-4 border-padding mb-2">
        <div class="category-banner" style="border: 5px solid #a3d7e7;">
          <div class="bg-size blur-up lazyloaded" [ngStyle] = "{'background-image': 'url(' + category.image_url + ')', 'background-size': 'cover', 'background-position': 'center center', 'display': 'block', 'max-height': '200px'}">
            <img [src]="category.image_url" class="img-fluid blur-up lazyload bg-img" alt="" style="display: block;">
          </div>
          <div class="category-box d-flex flex-column justify-content-start mt-2">
            <a [routerLink]="['/shop/collection']" [queryParams]="{ category: category.name }" class="image-block">
              <h4 style="background-color: #a3d7e7; color: black;">{{category.name}}</h4>
            </a>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="section-b-space mx-5">
  <div class="title1">
    <h2 class="title-inner1">favourites</h2>
  </div>
<div class="product-wrapper-grid" [ngClass]="layoutView">
  <div class="row">
    <div class="col-grid-box" [ngClass]="grid" *ngFor="let product of favouriteProducts">
      <div class="product-box">
        <app-product-box-one [product]="product"
                             [currency]="productService?.Currency" [thumbnail]="false"
                             [cartModal]="false" [loader]="false">
        </app-product-box-one>
      </div>
    </div>

    <div class="col-sm-12 text-center section-b-space mt-5 no-found"
         *ngIf="favouriteProducts && !favouriteProducts.length">
      <img src="assets/images/empty-wishlist.png" class="img-fluid mb-4">
      <h3>Your dont have any products in your favourite bucket!!! </h3>
      <p>Please products to your favourite's bucket.</p>
      <a [routerLink]="['/shop/collection']"
         class="btn btn-solid">continue shopping</a>
    </div>
  </div>
</div>
</section>
<app-footer [themeLogo]="themeLogo" [mainFooter]="false"></app-footer>
