<div class="main-navbar">
  <div id="mainnav">
    <div class="toggle-nav" (click)="mainMenuToggle()">
      <i class="fa fa-bars sidebar-bar"></i>
    </div>
    <ul class="nav-menu" [class.opennav]="menuToggle">
      <li class="back-btn">
        <div class="mobile-back text-right" (click)="mainMenuToggle()">
          <span>Back</span>
          <i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
        </div>
      </li>

      <li>
        <a class="nav-link" [routerLink]="['/shop/collection']">shop</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/blog']">blog</a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/auth/register']">Register</a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
      </li>

      <!-- <li>
        <a class="nav-link" [routerLink]="['/pages/aboutus']">about us</a>
      </li> -->

      <li ngbDropdown>
        <a class="btn btn-outline-default text-left" id="dropdownBasic1" ngbDropdownToggle>Delifrost</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="margin: 10px;">
          <button class="nav-link" [routerLink]="['/pages/aboutus']" ngbDropdownItem>About US</button>
          <button class="nav-link" [routerLink]="['/pages/contact']" ngbDropdownItem>Contact US</button>
        </div>
      </li>

      <li *ngIf="isLoggedIn" ngbDropdown>
        <a class="btn btn-outline-default text-left" id="dropdownBasic2" ngbDropdownToggle>{{fullName}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="margin: 10px;">
          <button class="nav-link" [routerLink]="['/shop/wishlist']" ngbDropdownItem>Wishlist</button>
          <button class="nav-link" [routerLink]="['/pages/dashboard']" ngbDropdownItem>Dashboard</button>
          <button class="nav-link" [routerLink]="['/pages/profile']" ngbDropdownItem>Profile</button>
          <button class="nav-link" (click)="onLogout()" ngbDropdownItem>Logout</button>
        </div>
      </li>
    </ul>
  </div>
</div>
