<div class="main-navbar">
  <div id="mainnav">

    <div class="toggle-nav" (click)="mainMenuToggle()">
      <i class="fa fa-bars sidebar-bar"></i>
    </div>

    <ul class="nav-menu" [class.opennav]="menuToggle">
      <li class="back-btn">
        <div class="mobile-back text-right" (click)="mainMenuToggle()">
          <span>Back</span>
          <i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
        </div>
      </li>

      <li *ngIf="(authService.user$ | async)">
        <a class="nav-link" [routerLink]="['/shop/collection']">shop</a>
      </li>

      <!-- <li *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['/blog']">blog</a>
      </li> -->

      <ng-container *ngIf="!(authService.user$ | async)">
        <li>
          <a class="nav-link" [routerLink]="['/auth/register']">Register</a>
        </li>

        <li>
          <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
        </li>
      </ng-container>

      <li *ngIf="(authService.user$ | async) as user" ngbDropdown>
        <a class="btn btn-outline-default text-left" id="dropdownBasic2" ngbDropdownToggle>{{user.fullName}}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="margin: 10px;">
          <button class="nav-link" [routerLink]="['/shop/wishlist']" ngbDropdownItem>Wishlist</button>
          <button class="nav-link" [routerLink]="['/pages/orders']" ngbDropdownItem>Order History</button>
          <button class="nav-link" [routerLink]="['/pages/dashboard']" ngbDropdownItem>Dashboard</button>
          <button class="nav-link" [routerLink]="['/pages/profile']" ngbDropdownItem>Profile</button>
          <button class="nav-link" (click)="onLogout()" ngbDropdownItem>Logout</button>
        </div>
      </li>
    </ul>
  </div>
</div>