<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
      <span class="lable3" *ngIf="product.bundles[0].isNew">new</span>
      <span class="lable4" *ngIf="product.bundles[0].onSale">on sale</span>
    </div>
    <div class="front">
      <!-- <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]"> -->
      <a [routerLink]="['/shop/product/no/sidebar/', product.productId]">
        <img 
          [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'" 
          [lazyLoad]="ImageSrc ? ImageSrc : product.bundles[0].imagePath" 
          class="img-fluid lazy-loading" 
          alt="{{ product.bundles[0].imagePath }}" />
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage">
      <!-- <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]"> -->
        <a [routerLink]="['/shop/product/no/sidebar/', product.productId]">
        <img [src]="ImageSrc ? ImageSrc : product.bundles[0].imagePath " class="img-fluid lazy-loading" alt="{{ product.bundles[0].imagePath  }}">
      </a>
    </div>
    <ul class="product-thumb-list" *ngIf="thumbnail">
      <li class="grid_thumb_img" [class.active]="ImageSrc == image" *ngFor="let image of product.bundles[0].imagePath">
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image)">
          <img [lazyLoad]="image">
        </a>
      </li>
    </ul>
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)"
        *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to Wishlist" (click)="addToWishlist(product)">
        <i class="ti-heart" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal(bundle.id)">
        <i class="ti-search" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
      <a [routerLink]="['/shop/product/no/sidebar/trim-dress']">
      <!-- <a [routerLink]="['/shop/product/left/sidebar/', product?.title.replace(' ', '-')]"> -->
        <h6>{{ product.name | titlecase }}</h6>
      </a>
      <p>{{ product.bundles[0].description }}</p>
      <h4>
        {{
          bundle.price
            | discount: bundle
            | currency: "₦":"symbol":"1.0-0"
        }}
        <del *ngIf="product.bundles[0].discount"><span class="money">  {{ bundle.price | currency: "₦":"symbol":"1.0-0" }}</span></del>
      </h4>
      <div class="select">
        <select (change)="onChange($event.target.value)">
          <option *ngFor="let bundle of product.bundles" value="{{bundle.id}}">
            {{ bundle.variantOptions[0].variantOption }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
